[submodule "LightGBMLSS"]
	path = LightGBMLSS
	url = https://github.com/ujohn33/LightGBMLSS_fork
[submodule "ngboost"]
	path = ngboost
	url = https://github.com/ujohn33/ngboost_fork
[submodule "properscoring"]
	path = properscoring
	url = https://github.com/tozech/properscoring
[submodule "pgbm"]
	path = pgbm
	url = https://github.com/elephaint/pgbm
[submodule "XGBoostLSS"]
	path = XGBoostLSS
	url = https://github.com/ujohn33/XGBoostLSS
