[submodule "LightGBMLSS"]
	path = LightGBMLSS
	url = https://github.com/ujohn33/LightGBMLSS_fork
[submodule "ngboost"]
	path = ngboost
	url = https://github.com/ujohn33/ngboost_fork
[submodule "properscoring"]
	path = properscoring
	url = git@github.com:tozech/properscoring.git
[submodule "pgbm"]
	path = pgbm
	url = git@github.com:elephaint/pgbm.git
[submodule "XGBoostLSS"]
	path = XGBoostLSS
	url = https://github.com/ujohn33/XGBoostLSS
